@(task: models.tasks.showResultTask, index: Integer)


    
    @helper.form(action = controllers.routes.WorkflowController.runTask(index), 'id -> "form".concat(index.toString))  {
    	
    	
	    <ul style="list-style:none">

		    @if(task.task_name=="Read File in HDFS"){
			    <li>
			    	<div class="indivsteps">
						HDFS directory
					</div>
					<p>/user/$USER/
					    <input type="text" id="output_path@index" name="output_path" size="80" value="wc_out_0001" required>
			    		    @*laptop*@
					    @*<input type="text" id="output_path@index" name="output_path" size="80" value="/Users/rhuang/Documents/Dropbox_1/TACC/PLAY/pi.out.test1" required>*@ 
			    	</p>
			    </li>
			    
			    		    <li>
		    	<div class="indivsteps">
					Top
				</div>
				<p>
		    		<input type="number" id="top_n@index" name="top_n" min="1" max="200" value="10" required> row
		    	</p>
		    </li>
	    

	    	<li>
			    <div class="indivsteps">
					Show Contents
				</div>
			    <p>
			    	<button type="submit" id="show@index" name="action" value="show">Show</button>
			    </p>
		    </li>
		    
		    		    	
		    } 
		    @if(task.task_name=="Read File in Lustre") {
		        <li>
			    	<div class="indivsteps">
						Lustre directory
					</div>
					<p>
					    <input type="text" id="output_path@index" name="output_path" size="80" value="@task.output_path" required>
			    		    @*laptop*@
					    @*<input type="text" id="output_path@index" name="output_path" size="80" value="/Users/rhuang/Documents/Dropbox_1/TACC/PLAY/pi.out.test1" required>*@ 
			    	</p>
			    </li>
			    
			    		    <li>
		    	<div class="indivsteps">
					Top
				</div>
				<p>
		    		<input type="number" id="top_n@index" name="top_n" min="1" max="200" value="10" required> row
		    	</p>
		    </li>
	    

	    	<li>
			    <div class="indivsteps">
					Show Contents
				</div>
			    <p>
			    	<button type="submit" id="show@index" name="action" value="show">Show</button>
			    </p>
		    </li>	
		    
		    } 
		    @if(task.task_name=="Show Image") {
		    			        <li>
			    	<div class="indivsteps">
						File path
					</div>
					<p>
					    <input type="text" id="output_path@index" name="output_path" size="80" value="@task.output_path" required>
			    		    @*laptop*@
					    @*<input type="text" id="output_path@index" name="output_path" size="80" value="/Users/rhuang/Documents/Dropbox_1/TACC/PLAY/pi.out.test1" required>*@ 
			    	</p>
			    </li>
			    <p>
			    	<button type="submit" id="show@index" name="action" value="show">Show</button>
			    	<button type="submit" id="running@index" style="display:none" style="width:80px" disabled >Running...</button>
			    </p>
			    <img src="@routes.Assets.at("tweets_map.png")" id="image@index" style="display:none"  />		    
		    
		    }
		<p>
		<button onclick="download()">Download Output</button>
		<p>
	    
		 </ul>
		<div class="status" id="status@index"></div>
    
	    <script>
	    function download() {
	    		var path = document.getElementById("output_path@index").value
	    		window.open("/download?path=" + path);
	    }
	    
		    $('#form@index')
		    .ajaxForm({
		        url : '@controllers.routes.WorkflowController.runTask(index)',		        
		        type : 'post',
		    	
		    		beforeSubmit: function(arr, $form, options){
				    	document.getElementById('show' +  @index).onmouseup = function() {myFunction()};
		
						function myFunction() {
								console.log("*********");
								document.getElementById('show' +  @index).style = "display:none";
								document.getElementById('running' +  @index).style = "display:inline";
		    						document.getElementById('image' + @index).style = "display:none"
						};
						//console.log("change");
						return true;					
		   	 	},
		   	 	
		        success : function (response) {
		        		if (response.startsWith("image")){
		        			console.log(response)
			        		var b = response.split(":")[1]
			        		console.log(b)
			        		var a="/images/"
			        		var src = a + b  
			        		console.log(src)
		        			document.getElementById('image' + @index).src = src;
		           		document.getElementById('image' + @index).style = "display:inline";
		           		document.getElementById('status' + @index).className = "status_success";
		           		document.getElementById('status' + @index).style = "display:none";
		           		document.getElementById('show' +  @index).style = "display:inline";
						document.getElementById('running' +  @index).style = "display:none";	
		           	} else {
		           	 	document.getElementById('status' + @index).className = "status_success";
		           		document.getElementById('status' + @index).innerHTML = response;		           	
		           	}
		        },
		        error : function (xhr, status, error) {
		        	   document.getElementById('status' + @index).style = "display:inline";
		           document.getElementById('status' + @index).className = "status_error";
		           document.getElementById('status' + @index).innerHTML = xhr.responseText;
		           document.getElementById('image' + @index).style = "display:none";
		           document.getElementById('show' +  @index).style = "display:inline";
				   document.getElementById('running' +  @index).style = "display:none";	
		        },
		        
		    });
		    
		    


		</script>		         

     }  
     

   
  



 
