@import models.tasks._	

@(user: models.auth.User, head: String, tasks: Array[models.tasks.Task])

@idols_main(head, Some(user)) {
    
    <h2>@head</h2>
    	    	<div class="steps">@taskManagement(user, tasks.length)</div>
    
	    @for(index <- 0 until tasks.length) {
	    
	       <div class="steps">
	       		<div class="step1">
					Step @(index + 1): @tasks(index).task_name
				</div>

			<ul style="list-style: none">
				<li>
					<div id="description@index" class="indivsteps"></div>
				</li>
			</ul>

			@tasks(index).task_type  match {
							case "UploadTask"       => { @upload(tasks(index).asInstanceOf[models.tasks.UploadTask], index) }
						 	case "checkClusterTask"      => { @clusterStatus(tasks(index).asInstanceOf[models.tasks.checkClusterTask], index) }
						 	case "runWordCountTask"     => { @wordcount(tasks(index).asInstanceOf[models.tasks.runWordCountTask], index) }
						 	case "checkHadoopJobStatusTask"   => { @jobStatus(tasks(index).asInstanceOf[models.tasks.checkHadoopJobStatusTask], index) }				 	
						 	case "showResultTask"       => { @showResult(tasks(index).asInstanceOf[models.tasks.showResultTask], index) }
						 	case "startZeppelinTask"    => { @zeppelin(tasks(index).asInstanceOf[models.tasks.startZeppelinTask], index, user) }
						 	case "runMPITask"    		=> { @mpi(tasks(index).asInstanceOf[models.tasks.runMPITask], index) }
						 	case "streamTweetsTask"    	=> { @streamTweets(tasks(index).asInstanceOf[models.tasks.streamTweetsTask], index) }
						 	case "runScriptTask"     	=> { @runScript(tasks(index).asInstanceOf[models.tasks.runScriptTask], index) }
							case "RunInputScriptTask"     	=> { @runInputScript(tasks(index).asInstanceOf[models.tasks.RunInputScriptTask], index) }
						 }	
		   </div>
	    }
	    
	<script src="@controllers.routes.Assets.versioned("javascripts/upload.js")"></script>    
	<script>
	function getDescription(index) {
		var xmlHttp = new XMLHttpRequest();
		xmlHttp.onreadystatechange = function() {
			if (xmlHttp.readyState == 4 && xmlHttp.status == 200) {
				document.getElementById('description' + index).innerHTML = "Description: " + this.responseText;
			}
		}
		xmlHttp.open("GET", "/description?index=" + index, true);
		xmlHttp.send();
	}
	
	@for(index <- 0 until tasks.length) {
		console.log(@index);
		getDescription(@index);
	}
	</script>
	
	 
}
