@idols_main("Welcome to IDOLS") {
	<div class="text" style="color: #1b9993;">IDOLS is a web application framework that allows user to customize the web application including dynamically compose differnet workflows and generate new users on demand through simple configuration files. To enhance the accessibility of large cyberinfrastructure to users from diverse domain fields, the framework includes a set of pre-built task modules to help bridge users with remote hardware and software resources. </div>
	<div class="text" style="color: #1b9993;">To get started, please sign in.</div>

}