@(task: models.Task, index: Integer)


    
    @helper.form(action = routes.WorkflowController.runTask(index), 'id -> "form".concat(index.toString))  {
    	
    	
	    <ul style="list-style:none">
	    	<li>
		    	<div class="indivsteps">
					Reservation name
				</div>
				<p>
		    		<input type="text" id="reservation@index" name="reservation" value="hadoop+Idols+2431" required> 
		    	</p>
		    </li>
	    
		    <li>
		    
		    <li>
		    	<div class="indivsteps">
					Job Status
				</div>
				<p>
		    		        <select name="job_status" required>
							  <option value="ALL">ALL</option>
							  <option value="NEW">NEW</option>
							  <option value="NEW_SAVING">NEW_SAVING</option>
							  <option value="SUBMITTED">SUBMITTED</option>
							  <option value="RUNNING" selected="selected">RUNNING</option>
							  <option value="FINISHED">FINISHED</option>
							  <option value="FAILED">FAILED</option>
							  <option value="KILLED">KILLED</option>
							</select> 
		    	</p>
		    </li>
	    
		    <li>
		    
	    	<li>
			    <div class="indivsteps">
					Get job status
				</div>
			    <p>
			    	<button type="submit" id="submit@index">Submit</button>
			    </p>
		    </li>

		    
		 </ul>
		 
		<div class="status" id="status@index"></div>
    
	    <script>
		    $('#form@index')
		    .ajaxForm({
		        url : '@routes.WorkflowController.runTask(index)', 
		        success : function (response) {
		        	document.getElementById('status' + @index).className = "status_success";
		           	document.getElementById('status' + @index).innerHTML = response;
		        },
		        error : function (xhr, status, error) {
		           document.getElementById('status' + @index).className = "status_error";
		           document.getElementById('status' + @index).innerHTML = xhr.responseText;
		        },
		        
		    });
		</script>	
		 

	         
     }  
     

   
  



 