@import play.api.data.Form
@import play.api.i18n.Messages
@import play.api.mvc.RequestHeader
@import org.webjars.play.WebJarsUtil
@import controllers.AssetsFinder
@import forms.RequestForm.Data
@import b3.inline.fieldConstructor

@(firstName: String, lastName: String, email: String, URL: String, pass: String)(implicit request: RequestHeader, messages: Messages, webJarsUtil: WebJarsUtil, assets: AssetsFinder)

@main("notebook instance access information") {
    Hello @firstName @lastName (@email), <BR>
    Please go to <a href="@URL">@URL</a> and use <b>@pass</b> to access your notebook instance. 
}
