@import play.api.data.Form
@import play.api.i18n.Messages
@import play.api.mvc.RequestHeader
@import org.webjars.play.WebJarsUtil
@import controllers.AssetsFinder
@import com.mohiva.play.silhouette.impl.providers.SocialProviderRegistry
@import forms.SignInForm.Data
@import b3.inline.fieldConstructor

@(signInForm: Form[Data], socialProviders: SocialProviderRegistry)(implicit request: RequestHeader, messages: Messages, webJarsUtil: WebJarsUtil, assets: AssetsFinder)

@main(messages("sign.in.title")) {
 	<p>
    </p>
    <fieldset class="col-md-6 col-md-offset-3">
        @helper.form(action = controllers.routes.SignInController.submit()) {
            @helper.CSRF.formField
            @b3.text(signInForm("username"), '_hiddenLabel -> messages("username"), 'placeholder -> messages("Username/Email"), 'class -> "form-control input-lg")

            @b3.password(signInForm("password"), '_hiddenLabel -> messages("password"), 'placeholder -> messages("password"), 'class -> "form-control input-lg")
            <!--@b3.checkbox(signInForm("rememberMe"), '_text -> messages("remember.me"), 'checked -> false)-->

			<div class="form-group">
                <div>
                    <button id="submit1" type="submit" name="action" value="regular" class="btn btn-lg btn-primary btn-block">Sign In with IDOLS</button>
                </div>
                <p>
                </p>
                <div>
                    <button id="submit2" type="submit" name="action" value="tacc" class="btn btn-lg btn-primary btn-block">Sign In with TACC</button>
                </div>
                <p>
                </p>
               <!--  <div class="fb-login-button" data-max-rows="1" data-size="large" data-button-type="continue_with" data-show-faces="false" data-auto-logout-link="false" data-use-continue-as="false" onlogin="checkLoginState()"></div>
				<div id="status"></div> -->
				
				<div class="g-signin2" data-onsuccess="onSignIn"></div>

            </div>
        }


</fieldset>

    <script>
      function onSignIn(googleUser) {
        // Useful data for your client-side scripts:
        var profile = googleUser.getBasicProfile();
        console.log("ID: " + profile.getId()); // Don't send this directly to your server!
        console.log('Full Name: ' + profile.getName());
        console.log('Given Name: ' + profile.getGivenName());
        console.log('Family Name: ' + profile.getFamilyName());
        console.log("Image URL: " + profile.getImageUrl());
        console.log("Email: " + profile.getEmail());

        // The ID token you need to pass to your backend:
        var id_token = googleUser.getAuthResponse().id_token;
        console.log("ID Token: " + id_token);
        httpGet(id_token);
      };
      
      function httpGet(id_token) {
			var xmlHttp = new XMLHttpRequest();
			xmlHttp.open("POST", "/googleSignIn?idTokenString=" + id_token, false);
			xmlHttp.onreadystatechange = function() {
				if (xmlHttp.readyState == 4 && xmlHttp.status == 200) {
					var auth2 = gapi.auth2.getAuthInstance();
				    auth2.signOut().then(function () {
				      console.log('User signed out.');
				    });
					 window.location.pathname = '/use_cases';      
		        }
		 	}; 
			xmlHttp.send();
		}
    </script>
    
    

	<!-- Facebook Login -->

	<!--
 	 Below we include the Login Button social plugin. This button uses
  	 the JavaScript SDK to present a graphical Login button that triggers
 	 the FB.login() function when clicked.
	-->

<!-- <fb:login-button scope="email, public_profile" onlogin="checkLoginState()"></fb:login-button>  -->

	<!-- <script>
	
		 // This is called with the results from from FB.getLoginStatus().
		function statusChangeCallback(response) {
			console.log('statusChangeCallback');
			console.log(response);
			// The response object is returned with a status field that lets the
			// app know the current login status of the person.
			// Full docs on the response object can be found in the documentation
			// for FB.getLoginStatus().
			if (response.status === 'connected') {
				// Logged into your app and Facebook.
				testAPI(response.authResponse.accessToken);
			} else {
				// The person is not logged into your app or we are unable to tell.
				document.getElementById('status').innerHTML = 'Please log '
						+ 'into this app.';
			}
		}

		// This function is called when someone finishes with the Login
		// Button.  See the onlogin handler attached to it in the sample
		// code below.
		function checkLoginState() {
			FB.getLoginStatus(function(response) {
				statusChangeCallback(response);
			});
		} 

		window.fbAsyncInit = function() {
			FB.init({
				appId : '1791463614233616',
				cookie : true, // enable cookies to allow the server to access 
				// the session
				xfbml : true, // parse social plugins on this page
				version : 'v2.8' // use graph api version 2.8
			});
		};

		// Load the SDK asynchronously
		(function(d, s, id) {
			var js, fjs = d.getElementsByTagName(s)[0];
			if (d.getElementById(id))
				return;
			js = d.createElement(s);
			js.id = id;
			js.src = "https://connect.facebook.net/en_US/sdk.js";
			fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk')); 

		function httpGet(response, accessToken) {
			var xmlHttp = new XMLHttpRequest();
			xmlHttp.open("POST", "/facebookSignIn?response=" + JSON.stringify(response)
					+ "&accessToken=" + accessToken, false);
			xmlHttp.onreadystatechange = function() {
				if (xmlHttp.readyState == 4 && xmlHttp.status == 200) {
					 window.location.pathname = '/home';      
		        }
		 	}; 
			xmlHttp.send();

		}

		// Here we run a very simple test of the Graph API after login is
		// successful.  See statusChangeCallback() for when this call is made.
		function testAPI(accessToken) {
			console.log('Welcome!  Fetching your information.... ');
			FB.api('/me?fields=name,id,email', function(response) {
				httpGet(response, accessToken); 

			});
		}

		function rand() {
			var text = "";
			var possible = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789";

			for (var i = 0; i < 10; i++)
				text += possible.charAt(Math.floor(Math.random()
						* possible.length));

			return text;
		}
	</script> -->


	<!-- Google Login -->
	<!-- <div class="g-signin2" data-onsuccess="onSignIn"></div>
	<script>
		function onSignIn(googleUser) {
			var profile = googleUser.getBasicProfile();
			console.log('ID: ' + profile.getId()); // Do not send to your backend! Use an ID token instead.
			console.log('Name: ' + profile.getName());
			console.log('Image URL: ' + profile.getImageUrl());
			console.log('Email: ' + profile.getEmail()); // This is null if the 'email' scope is not present.
		}
	</script> -->

}
