@(root: String, task: models.Task, index: Integer)

@helper.form(action = routes.WorkflowController.runTask(index), 'enctype -> "multipart/form-data", 'id -> "form".concat(index.toString)) {
    
    <ul>
    	<li>
			<div class="indivsteps">
				Choose @task.taskName File
			</div>
		    <p>
		    	<input type="file" name="@task.taskName" value="@task.taskName">
			</p>
    		
    	</li>
    
    	<li>
	    	<div class="indivsteps">
				Define root directory
			</div>
			<p>
	    		<input type="text" id="root" name="root" value="@root"> 
	    	</p>
	    </li>
    
	    <li>
		    <div class="indivsteps">
				Choose the directory to upload your file
			</div>
		    <p>
		    	<button type="button" value="directory@task.taskName" onclick="openTree('@index', document.getElementById('root').value)">Choose a directory</button>
		    	<input name="dir" id="directory@index" type="text" value="@root">
		    	<div id="container@index"></div>
		    </p>
		    <p>
		    <button type="button" id="back@index" onclick="openTree(@index, document.getElementById('root').value.substring(0, document.getElementById('root').value.lastIndexOf('/')))" style="display: none;">Go back to parent folder</button>
		    <button type="button" id="forward@index" onclick="openTree('@index', document.getElementById('directory'+@index).value)" style="display: none;">Expand this folder</button>
		    </p>
	    </li>
    
	    <li>
		    <div class="indivsteps">
				Upload individual File
			</div>
		    <p>
		    	<button type="submit" id="submit@index">Upload</button>
		    </p>
	    </li>
	    
	    <li>
		    <div class="status" id="status@index">Status</div>
	    </li>
	    
    </ul>
    
    <script>
	    $('#form@index')
	    .ajaxForm({
	        url : '@routes.WorkflowController.runTask(index)', 
	        success : function (response) {
	
	           document.getElementById("status@index").innerHTML = response;
	        },
	        error : function (xhr, stauts, error) {
	        
			    alert(xhr.responseText);
	           document.getElementById("status@index").innerHTML = "Error occured";
	        },
	        
	    });
	</script>	
}
	

