@(user: models.User, head: String, root: String, tasks: Array[models.Task])

@idols_main(head, Some(user)) {
    
    <h2>@head</h2>
    
	    @for(index <- 0 until tasks.length) {
	    
	       <div class="steps">
	       		<div class="step1">
					Step @(index + 1): @tasks(index).taskName
		   		</div>
				@tasks(index).taskType  match {
					case "fileUpload"       => { @upload(root, tasks(index), index) }
				 	case "checkHadoop"      => { @clusterStatus(tasks(index), index) }
				 	case "runWordCount"     => { @wordcount(tasks(index), index) }
				 	case "checkJobStatus"   => { @jobStatus(tasks(index), index) }				 	
				 	case "showResult"       => { @showResult(tasks(index), index) }
				 	case "startZeppelin"    => { @zeppelin(tasks(index), index) }
				 	case "runMPI"    		=> { @mpi(tasks(index), index) }
				 }	
		   </div>
	    }

	<div class="steps">@taskManagement(tasks.length)</div>
	    
	    <script src="@controllers.routes.Assets.versioned("javascripts/upload.js")"></script>
	    
	    <script>
		    
		    document.getElementById("current_workflow").onclick = function () {
        		location.href = "/downloadworkflow";
   			};
	    </script>  
}
